.DashboardPage {
    
    & .tablesWrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--space-lg);
        align-items: start;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }
      
    }
}