.TransactionDetail {

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
      
    & .backLink {
    color: var(--color-primary);
    font-weight: 600;
    }
      
    & .cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-lg);

    @media (max-width: 768px) {
          grid-template-columns: 1fr;
    
      }
    }
      
    
      

}